div.adi-border{
    width: 275px;
    height: 275px;
    border-radius: 50%;
    border: 3px solid black;
    /* background:  rgb(0,113,255); */
    background: linear-gradient(  rgb(0,113,255) 50%, rgb(75,255,50) 50% );
}